*,
:after,
:before {
  box-sizing: inherit;
}

.body {
  font-family: "Open Sans Condensed", sans-serif;
  padding: 20px 60px;
  margin: 0;
  font-size: 14px;
  line-height: 1.43;
  color: #484848;
  background-color: #fff;
}

a {
  text-decoration: none;
  color: black;
}
